<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @sub_task.content %>
</p>

<p>
  <strong>Task:</strong>
  <%= @sub_task.task %>
</p>

<%= link_to 'Edit', edit_sub_task_path(@sub_task) %> |
<%= link_to 'Back', sub_tasks_path %>
